{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
  <div class="container-fluid">
    
    <a class="navbar-brand" href="#">
      <img width='70px' height='40px' src="{% static 'img/color_it_logo.jpg' %}" alt="">
    </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'search' %}">Templates</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'main' %}">Draw</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'export' %}">Export</a>
        </li>
       
        
      </ul>
      
       <div class="navbar-nav dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" 
          role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Account
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              
              <li><a class="dropdown-item" href="">New User</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="">Login</a></li>

          </ul>
        </div>

    </div>
  </div>
</nav>