{% extends 'base.html' %}
{% load static %}

{% comment %} File for exporting drawing {% endcomment %}
{% block css_files %}
    <link rel="stylesheet" href="{% static 'coloring/css/export.css' %}">
{% endblock css_files %}
{% block js_files %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="{% static 'coloring/js/export.js' %}"></script>
{% endblock js_files %}
{% block body %}

    <main class="outer-container">
        <div class="title">
        
            <h1>Export Image</h1>
        
        </div>

        <div class = "container">
        
            <div class = "form-group image-info-container">
        
                <div class="inner-container">

                    <input class="form-control" id= "file-name" placeholder="Enter title for image" defaultValue = "image"></input>
                    <select class="form-control" id="format-values" name="image-format">
                        <option value="jpg">-- Select Image File Type -- </option>
                        <option value="jpg">.jpg</option>
                        <option value="png">.png</option>
                        <option value="psd">.psd</option>
                        <option value="gif">.gif</option>
                        <option value="pdf">.pdf</option>
                    </select>

                </div>
        
                <button id='save' class='btn btn-dark' onClick="download()">Save</button>
        
            </div>
        </div>
    </main>

{% endblock body %}