{% extends 'base.html' %}
{% load static %}

{% comment %} File for upload images  {% endcomment %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'coloring/css/upload.css' %}">
{% endblock css_files %}

{% block js_files %}
    <script src="{% static 'coloring/js/upload.js' %}"></script>
{% endblock js_files %}

{% block body %}

    <div class="title">
        
        <h1>Upload Page</h1>

    </div>

    <div class="container">

        <div id="button-container">
            
            <input id="fileupload" type="file" name="fileupload">
            
            {% comment %} <br> {% endcomment %}
            <button class='btn btn-dark' id="upload-button" onClick="uploadFile()"> Upload New Template</button>
        
        </div>

    </div>

{% endblock body %}