body{
    background-color: rgb(160, 188, 151);
}

.outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
}

.title {
    margin: 1rem 2rem 2rem 2rem;
}

h1 {
    text-align: center;
    font-family: 'Pacifico';
    font-weight: 300;
    /* margin-top: 100px; */
}

.container {
    height: 40%;
    width: 50%;
    background-color: #fffffc;
    margin: 0 2rem 2rem 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 12px;

}

.image-info-container{
    /* height: 100%; */
    /* width: 40%; */
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 4rem;

    border-radius: 12px;

    padding: 1rem;
    gap: 1rem;
    /* box-shadow: 0 2px 8px rgba(0,0,0,0.25); */
}

#save {
    box-shadow: 0 2px 8px rgba(0,0,0,0.35);
}

#save:hover {
    background-color: #212529; 
}

/* input{
    text-align: center;
    height: 50px;
} */

/* select{
    text-align-last:center;
    height: 30px;
    width: 100%;
}  */


